.display-result {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-display {
  font-size: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-button {
  margin: 5px;
  transition: background-color 0.3s ease;

}

.timer-container .nav-button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#result {
  cursor: pointer;
  height: 10em;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
}

/* Keep this at the bottom to hide the Flash of Unstyled Content */
html {
  visibility: visible;
  opacity: 1;
}
